@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
*{
    font-family: 'Delicious Handrawn', cursive;
}
body{
    background-image: url(https://img.freepik.com/vector-premium/estilo-corte-papel-blanco-sobre-fondo-blanco-espacio-copia-banner-sitio-web-diseno-grafico_120819-1684.jpg);
background-position: center bottom;
background-repeat: no-repeat;
background-size: cover;
align-items: center
}